################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AntiSleepApp/FileContentIndex
/.vs/AntiSleepApp/v17
/bin/Debug/app.publish/Application Files/AntiSleepApp_1_0_0_0
*.json
/bin/Debug
/obj/Debug
*.user
*.pfx
/bin/Debug/AntiSleepApp.exe
/bin/Debug/AntiSleepApp.pdb
/obj/Debug/AntiSleepApp.csproj.AssemblyReference.cache
/obj/Debug/AntiSleepApp.csproj.GenerateResource.cache
/obj/Debug/AntiSleepApp.exe
/obj/Debug/AntiSleepApp.pdb
